<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Chat</title>
</head>

<body>
    <header>
        <h2>Chat Online</h2>
        <h3>User Name: <span id="user"><%= name %></span> </h3>
        <a class="link" href="/logout">Logout</a>
    </header>

    <div id="chatScreen"></div>
    
    <form id="textSend" autocomplete="off">
        <textarea onkeypress="enterTextArea(event)" name="text" id="text" placeholder="Digitar...." autofocus></textarea>
        <button class="send">Enviar</button>
    </form>

    <br>

    <% if (admin) { %>
        <a class="link" href="/register">Painel de Usuários</a>
        <div><button class="deleteMsg" onclick="erase()" href="/erase">Apagar Conversas</button></div>
        <% } %>


            <script src="/socket.io/socket.io.js"></script>
            <script src="./chat.js"></script>
</body>

</html>